{% extends './base.html.twig' %}

{% block body %}
    <label>Titulo</label>
    <input value="{{notaAEditar.titulo}}" class="form-control"></input>

    <label>Texto</label>
    <input value="{{notaAEditar.texto}}" class="form-control"></input>

    <a href="{{ path("doedit", {id: notaAEditar.id}) }}" class="btn btn-info" type="submit">Editar</a>


{% endblock %}