{% extends './base.html.twig' %}

{% block body %}
<h2>Mis notas</h2>
<div class="row">
    {% for nota in notas %}
        <div class="col-sm-6">
            <div class="card border-warning mb-3" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">{{nota.titulo}}</h5>
                    <p class="card-text">{{nota.texto}}</p>
                    <a href="{{ path("deletenota", {id: nota.id}) }}" class="btn btn-primary">Borrar</a>
                    {# <a href="{{ path("editnota", {id: nota.id}) }}">Editar</a> #}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}